*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ournavbar{
    width: 100%;
    height: 100px;
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 80px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    list-style: none;
}

ul li{
    margin-right: 80px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.4rem;
}

ul li a{
    text-decoration: none;
    color: white;
}

.img{
    height: 900px;
}

.footer{
    height: 300px;
    width: 100%;
    background-color: #18191B;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }

  .titulo{
    display: none;
  }

  .logo-menu-hamburguesa{
    display: none;
  }

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 2rem;
    margin-top: 20px;
    font-weight: bolder;
}

p{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1.4rem;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 40px;
}

footer{
    margin-top: 30px;
}

@media only screen and (min-width:320px) and (max-width: 425px){


    .ournavbar{
        height: 50px;
    }

    .ournavbar ul{
        justify-content: center;
        align-items: flex-end;
    }

    .list-element-logo{
        display: none;
    }

    .checkbtn{
        display: block;
        margin: 0px;
      }

    .hamburguesa{
        height: 30px;
        margin-right: 50px;
        border-radius: 4px;
    }

    .titulo{
        display: flex;
        font-family: 'Poppins', sans-serif;
        color: white;
        margin: 0;
    }

    .logo-menu-hamburguesa{
        display: flex;
        height: 30px;
        margin-left: 30px;
    }

    .nav-list{
        position: absolute;
        display: block;
        width: 70vw;
        height: 80vh;
        left: -100vw;
        top: 50px;
        font-size: 10px;
        transition: all .5s;
        z-index: 2;
        background-color: rgb(42, 41, 41);
    }

    #check:checked ~ .nav-list{
        left: 0;
    }

    .logo{
        display: none;
    }

    .footer{
        margin-top: 150px;
        height: 200px;
    }

    .nav-list li {
        margin: 0;
        margin-top: 20px;
        margin-left: 25px;
    }

    p{
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px; /* Ajusta según sea necesario */
        margin-bottom: 20px; /* Ajusta según sea necesario */
        text-align: left; /* Ajusta según sea necesario */
    }
    
    

}